@import "variable.styl"

/********** 屏幕宽度在340px至410px时，基准尺寸使用20px **********************************************************/
html{
  width 100%
  height 100%
}

body{
  width: 100%;
  height: 100%;
  background: $ls-bg-color;
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light',"Microsoft YaHei UI","Microsoft YaHei", arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

.ls-h1{
  font-size : 24px;
  line-height : 48px;
  font-weight : bold;
}
.ls-h2{
  font-size : 22px;
  line-height : 42px;
  font-weight : bold;
}
.ls-h3{
  font-size : 18px;
  line-height 34px;
  font-weight : bold;
}
.ls-h4{
  font-size : 16px;
  line-height : 28px;
  font-weight : bold;
}
.ls-h5{
  font-size : 12px;
  line-height : 20px;
  font-weight : bold;
}
.ls-h6{
  font-size : 10px;
  line-height : 14px;
  font-weight : bold;
}
.ls-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.ls-button+.ls-button {
  margin-left: 10px;
}
.ls-button:focus, .ls-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.ls-button:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  outline: none;
}
.ls-box{
  width: 100%;
  box-sizing : border-box;
  padding: 20px;
  border: 1px solid #e4e4e4;
}
.ls-p{
  padding: 5px 0;
  font-size 14px;
  line-height : 20px;
  color: #333333;
}
.ls-li{
  padding: 5px 0 5px 20px
  font-size 14px;
  line-height : 20px;
  color: #333333;
  position relative
}
.ls-li::before{
  content : '';
  display block
  width: 6px;
  height: 6px;
  border-radius : 50%;
  background : #333333;
  position absolute
  top: 50%;
  margin-top -3px;
  left: 3px;
}
.danger{
  color: #F56C6C;
  font-weight : bold;
}
.ls-flex-wrap{
  width: 100%;
  box-sizing : border-box;
  padding: 20px 0;
  display flex
  align-items flex-start
  justify-content flex-start
}

