
/*** 颜色定义规范 ******************************************************************************/
// 背景色
$ls-bg-color = #FFFFFF
$ls-bg-color-gery = #F2F2F2

// 阴影色
$color-shadow = #b2b2b2

// 边框色
$color-border = #e5e5e5

// 文字色
$color-text-d = #333333
$color-text = #666666
$color-text-l = #999999
$color-text-f =#ffffff


// 主题色
$color-theme = #01a862
$color-theme-l = #57dd9d
$color-theme-d = #61be97
// 警告色
$color-warn = #fd7867
$color-warn-d = #eea39a
// 失败色
$color-danger = #e23939
$color-danger-d = #df8080
// 信息色
$color-info = #999999
$color-info-d = #b6b6b6


/*** 字体定义规范 ******************************************************************************/
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 17px
$font-size-large-x = 22px


